<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <img src="{{ url_for('static', filename='css/can.gif') }}" height="300" width="300" align="left" >
        <img src="{{ url_for('static', filename='css/can2.gif') }}" height="300" width="300" align="right">
    </div>
    <pre>
    ('-. .-.                  .-. .-')               
    ( OO )  /                  \  ( OO )              
    ,--. ,--. .-----.   ,-.-') ,--. ,--.  .-'),-----. 
    |  | |  |/  -.   \  |  |OO)|  .'   / ( OO'  .-.  '
    |   .|  |'-' _'  |  |  |  \|      /, /   |  | |  |
    |       |   |_  <   |  |(_/|     ' _)\_) |  |\|  |
    |  .-.  |.-.  |  | ,|  |_.'|  .   \    \ |  | |  |
    |  | |  |\ `-'   /(_|  |   |  |\   \    `'  '-'  '
    `--' `--' `----''   `--'   `--' '--'      `-----'    

</pre>
    <h3>░▒▓█►─═  ʷєℓＣＯм𝔼 Ŧ𝓸 н𝐞𝐥𝐋 ═─◄█▓▒░</h3>
    <br>
    <button><a href="{{ url_for('index') }}">𝚅𝚎𝚒𝚕𝚕𝚎 𝚃𝚎𝚌𝚑𝚗𝚘𝚕𝚘𝚐𝚒𝚚𝚞𝚎</a></button>
        <br>
        <br>
        <img src="{{ url_for('static', filename='css/can3.gif') }}" height="100" width="100" align="left" >
        <img src="{{ url_for('static', filename='css/can3.gif') }}" height="100" width="100" align="right">
            <div style="border: 2px solid grey; padding: 100px; margin-top: 10px; margin-left: 450px; margin-right: 450px;">
                    <p>Sortez d'ici tout de suite.</p>
            </div>
            <img src="{{ url_for('static', filename='css/can4.gif') }}" height="100" width="100" align="left" >
            <img src="{{ url_for('static', filename='css/can4.gif') }}" height="100" width="100" align="right">
    </div>
</body>

</html>
